.card {
  width: 18rem; /* O el ancho que prefieras */
  min-height: 350px; /* O la altura mínima que prefieras */
  display: flex;
  flex-direction: column; /* Asegura que el contenido de la tarjeta se organice en una columna */
  justify-content: space-between; /* Esto distribuirá el espacio de manera uniforme alrededor del contenido */
}


.card-img-top {
  width: 100%; /* Establece la imagen para que llene el ancho de la tarjeta */
  height: auto; /* Esto mantendrá la proporción de la imagen */
  border-radius: 10px;
}

.card-body {
  flex: 1; /* Esto permitirá que el cuerpo de la tarjeta se expanda */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Espacia el contenido de la tarjeta uniformemente */
}

/* Establece un mínimo y un máximo para la altura de las tarjetas si es necesario */
.card-container {
  height: minmax(300px, 1fr);
}

/* Ajusta los márgenes para que las tarjetas no se peguen unas con otras */
.card.m-2 {
  margin: 1rem;
}
