/* Bloque de estilos para la barra de navegación */
.navbar-purple {
  background-color: purple;
  height: 60px;
  padding: 0 20px;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  box-shadow: 0 8px 6px -6px gray;
  --webkit-box-shadow: 0 8px 6px -6px gray;
  border-bottom: solid gray !important;
  transition: background-color 0.3s ease;
  font-family: "Poppins", sans-serif;
}

/* Bloque de estilos para el cambio de color de fondo al hacer hover */
.navbar-purple:hover {
  background-color: #8a2be2;
  transition: background-color 0.5s ease;
}

/* Bloque de estilos para los enlaces en la barra de navegación */
.navbar-purple .nav-link {
  color: white;
  transition: color 0.3s ease;
  padding: 10px 15px;
  border-radius: 10px;
  transform: translateY(0);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Bloque de estilos para el efecto de levantamiento al hacer hover */
.navbar-purple .nav-link:hover {
  color: #42ead9;
  transform: translateY(-4px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.active {
  border-bottom: 2px solid white !important;
}

/*Logo*/
.logo {
  width: 3rem;
  margin-right: 0.5rem;
}

.navbar-brand {
  transition: transform 0.3s ease; /* Transición suave al hacer hover */
  color: white;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
}

.navbar-brand:hover {
  transform: scale(1.1); /* Efecto de escala al hacer hover */
}
.navbar-collapse {
  background-color: purple; /* blanco con 50% de opacidad */
  border-radius: 1rem;
  width: 30%;
}

/* Estilo para el botón dropdown para que coincida con los otros nav-link */
.dropdown-toggle.nav-link {
  background-color: transparent; /* Asegúrate de que el fondo sea transparente */
  color: white; /* Igual que los otros nav-link */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombras similares */
  border: none; /* Remover bordes si los hay */
}

/* Estilo para el dropdown-menu para que coincida con el navbar-collapse */
.dropdown-menu {
  background-color: rgba(127, 57, 240, 0.98); /* Igual que navbar-collapse */
  border-radius: 1rem; /* Igual que navbar-collapse */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombras similares */
}

/* Estilo para los dropdown-item para que coincidan con nav-link */
.dropdown-item {
  color: white; /* Igual que nav-link */
  transition: color 0.3s ease; /* Transiciones suaves al hacer hover */
}

/* Estilo para los dropdown-item al hacer hover para que coincidan con nav-link */
.dropdown-item:hover {
  color: #42ead9; /* Color de hover igual que nav-link */
  background-color: transparent; /* Fondo transparente al hacer hover */
}
